*.*~
*.directory
*.db
*.DS_Store
*.box
*.cer
*.log
*.pem
*.p12
*.pyc
*.sql
*.sqlite3
*.xls

__pycache__

*.egg*
.cache
.pytest_cache
.tox/
.nox/
.mypy_cache/
.coverage*

build
coverage.xml
dist

.venv/

# Ignore generated requirements, use poetry.lock
requirements.txt